examples/example-flow.json
[
    {
        "id": "example-flow",
        "type": "tab",
        "label": "File Template Example",
        "disabled": false,
        "info": "Example flow demonstrating the node-red-contrib-file-template node usage"
    },
    {
        "id": "inject-data",
        "type": "inject",
        "z": "example-flow",
        "name": "Sample Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"title\":\"Project Dashboard\",\"subtitle\":\"Real-time project monitoring and analytics\",\"stats\":{\"total\":45,\"completed\":32,\"pending\":13,\"progress\":71},\"user\":{\"name\":\"John Doe\",\"email\":\"john.doe@example.com\",\"role\":\"Project Manager\",\"lastLogin\":\"2024-01-15 09:30 AM\"},\"description\":\"This dashboard provides an overview of your current project status, including completed tasks, pending items, and overall progress metrics.\",\"status\":\"Active\",\"project\":{\"name\":\"Website Redesign\",\"status\":\"In Progress\"},\"lastUpdated\":\"2024-01-15 14:45:00\"}",
        "payloadType": "json",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "file-template-node"
            ]
        ]
    },
    {
        "id": "file-template-node",
        "type": "file-template",
        "z": "example-flow",
        "name": "Dashboard Template",
        "filename": "examples/templates/sample-dashboard.html",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Fallback Template</h1><p>File not found: {{title}}</p>",
        "field": "payload",
        "fieldType": "msg",
        "output": "str",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "debug-output",
                "http-response"
            ]
        ]
    },
    {
        "id": "debug-output",
        "type": "debug",
        "z": "example-flow",
        "name": "Template Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "template",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "http-in",
        "type": "http in",
        "z": "example-flow",
        "name": "Dashboard Request",
        "url": "/dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "prepare-data"
            ]
        ]
    },
    {
        "id": "prepare-data",
        "type": "function",
        "z": "example-flow",
        "name": "Prepare Dashboard Data",
        "func": "// Simulate fetching data from database or API\nconst now = new Date();\n\nmsg.payload = {\n    title: \"Live Dashboard\",\n    subtitle: \"Real-time monitoring - \" + now.toLocaleString(),\n    stats: {\n        total: Math.floor(Math.random() * 100) + 50,\n        completed: Math.floor(Math.random() * 40) + 20,\n        pending: Math.floor(Math.random() * 20) + 5,\n        progress: Math.floor(Math.random() * 40) + 60\n    },\n    user: {\n        name: \"Dynamic User\",\n        email: \"user@example.com\",\n        role: \"Admin\",\n        lastLogin: now.toLocaleString()\n    },\n    description: \"This is a dynamically generated dashboard showing real-time data.\",\n    status: \"Live\",\n    project: {\n        name: \"Node-RED Dashboard\",\n        status: \"Active\"\n    },\n    lastUpdated: now.toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "file-template-node"
            ]
        ]
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "example-flow",
        "name": "Send HTML",
        "statusCode": "",
        "headers": {
            "content-type": "text/html"
        },
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "file-watcher-demo",
        "type": "inject",
        "z": "example-flow",
        "name": "Test File Watching",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"title\":\"File Watch Test\",\"subtitle\":\"This will update when template file changes\",\"stats\":{\"total\":10,\"completed\":8,\"pending\":2,\"progress\":80},\"user\":{\"name\":\"Test User\",\"email\":\"test@example.com\",\"role\":\"Developer\",\"lastLogin\":\"Just now\"},\"description\":\"Edit the template file and watch this update automatically!\",\"status\":\"Testing\",\"project\":{\"name\":\"File Watching Demo\",\"status\":\"Active\"},\"lastUpdated\":\"Live updates\"}",
        "payloadType": "json",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "file-template-node"
            ]
        ]
    },
    {
        "id": "metadata-debug",
        "type": "debug",
        "z": "example-flow",
        "name": "File Metadata",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_fileTemplate",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment-1",
        "type": "comment",
        "z": "example-flow",
        "name": "Basic Usage: Inject data and see template output",
        "info": "Click the inject button to send sample data through the file-template node.\nThe output will show the processed HTML template.",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "comment-2",
        "type": "comment",
        "z": "example-flow",
        "name": "HTTP Endpoint: Visit http://localhost:1880/dashboard",
        "info": "This creates a web endpoint that serves the dashboard.\nVisit http://localhost:1880/dashboard to see the rendered template.",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "comment-3",
        "type": "comment",
        "z": "example-flow",
        "name": "File Watching: Edit template file and see automatic updates",
        "info": "This inject runs every 5 seconds. Edit the template file\n(examples/templates/sample-dashboard.html) and watch the output\nupdate automatically when you save changes.",
        "x": 280,
        "y": 460,
        "wires": []
    }
] 
